body {
	background: url(../gambar/bg.png) no-repeat;
	background-size: cover;
}
.konten {
	background-color: #fff;
	width: 485px;
	height: 567px;
	margin:20px auto;
	text-align: center;
}
.judulKonten {
	text-align: center;
	background-color: #2ecc71;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 33px;
}
.login-box {
	width: 345px;
	line-height: 43px;
	padding:0px 13px 0px 13px;
	border-radius: 5px;
	border:1px solid #aaa;
	box-shadow: inset 1px 1px 12px #aaa;
	margin:10px 0px 12px 0px;
}
#email {
	margin-top: 31px;
}
.gembok {
	width: 200px;
	height: 200px;
	margin-top: 25px;
}
.loginBtn {
	width: 300px;
	line-height: 49px;
	font-family: sans-serif;
	background-color: #2ecc71;
	color: #fff;
	font-weight: bold;
	border:none;
	border-radius: 6px;
	position: relative;
	top:30px;
	font-size: 25px;
}
.loginBtn:hover {
	background-color: #27ae60;
	cursor: pointer;
}
.bgKontenHome {
	background-color: #000;
	opacity: 0.76;
	position: absolute;
	top:130px;left: 0px;
	width: 46%;
	height: 300px;
}
.kontenHome {
	width: 46%;
	height: 300px;
	position: absolute;
	top:130px;left: 0px;
}
.welcome {
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
	color: #fff;
	border-bottom: 5px solid #fff;
	padding-bottom: 15px;
	margin:25px 23px 15px 23px;
}
.logout {
	width: 345px;
	line-height: 56px;
	background: none;
	border:6px solid #fff;
	font-family: sans-serif;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	border-radius: 7px;
}
.logout:hover {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
.logout:active {
	background-color: #e74c3c;
	color: #fff;
	border:6px solid #e74c3c;
}
.error,.error2 {
	display: none;
	background-color: #e74c3c;
	position: absolute;
	top:220px;left: 0px;
	color: #fff;
	line-height: 59px;
	width: 460px;
	font-size: 22px;
	font-family: sans-serif;
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
}
.kiriError {
	width: 4%;
	float: left;
	background-color: #c0392b;
	margin-right: 15px;
}
.xerror {
	float: right;
	margin:-3px 20px;
	font-size: 27px;
	font-family: sans-serif;
	cursor: pointer;
}